[submodule "openbsd"]
	path = openbsd
	url = git@bitbucket.org:braindamaged/openbsd-src.git
[submodule "freebsd"]
	path = freebsd
	url = git@github.com:oss-collections/freebsd.git
[submodule "nixos"]
	path = nixos
	url = git@github.com:oss-collections/nixos.git
